doctype html
html(lang='en')
  head
    title= title
  body
    h1= 'Results for ' + poll.title
    
    div.results
      each option in poll.options
        label= option + ": "
        span(id=option)= poll.voteCount[option]
        br
    
    br
    span Voting Link: 
      a(href='/polls/' + poll.id)= '/polls/' + poll.id
      
    script(src='/socket.io/socket.io.js')
    script(src='/scripts/client.js')
