doctype html
html(lang='en')
  head
    title= 'Results for: ' + poll.title
  body
    h1= 'Results for: ' + poll.title
    
    div.results
      ul
        each option in poll.options
          li
            label= option + ": "
            span(id=option + '-percent')= poll.percentages[option]
            span='% ('
            span(id=option)= poll.voteCount[option]
            span=' votes)'
          br
    
    span Voting Link: 
      a(href=link.localPath)= link.fullPath
    
    br
    br
    button(id='close-poll', data-id=poll.id) Close Poll
    
    script(src='/socket.io/socket.io.js')
    script(src='/scripts/client.js')
