doctype html
html(lang='en')
  head
    title= 'Results for: ' + poll.title
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', integrity='sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7', crossorigin='anonymous')

  body
    div.container
      div.row
        div.col-md-6.col-md-offset-3
          h1.text-center= poll.title
          div.jumbotron
            h2 Results: 
            
            div.results
              ul.list-group
                each option in poll.options
                  li.list-group-item
                    label= option
                    span= ': '
                    span(id=option + '-percent')= poll.percentages[option]
                    span= '%'
                    div.pull-right
                      span='('
                      span(id=option)= poll.voteCount[option]
                      span=' votes)'
                  br
            
            h3 Voting Link: 
            a(href=link.localPath)= link.fullPath
            
            br
            br
            button.btn.btn-default(id='share-results', data-id=poll.id) Share Results
            span(id=poll.id +'-share-results-status')
            br
            br
            button.btn.btn-danger(id='close-poll', data-id=poll.id) Close Poll
        
    script(src='/socket.io/socket.io.js')
    script(src='/scripts/client.js')
